/*Basic initialization*/
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}




.container {
    background: lightcyan;
    height: 1050px;
    width: auto;
    padding: 0px;

    background: rgb(32,178,170);
    background: linear-gradient(180deg, rgba(32,178,170,1) 0%, rgba(255,81,71,1) 50%, rgba(255,166,20,1) 100%);
}

.navbar {
    background: #20b2aa;
    margin: 0px;
    height: 75px;
    width: auto;

}

.logo {

    vertical-align: top;
    display: inline-block;
    height: 50px;
    width: auto;
    padding: 2px;
    margin: 10px;


}

.title,
.nav-item {
    display: inline-block;
    height:50px;
    width: auto;
    margin: 10px;
    padding: 2px;
    line-height: 50px;
    vertical-align: top;
    
}

.item1 {
    margin-left: 700px;
}
.item2, 
.item3 {
    margin-left: 200px;
}


.separator {
    display: inline-block;
    width:100%;
    height:auto;
    vertical-align: top;
    border-top: 1rem solid;
    border-width:9px;
    border-color:#14797450;

}

